
<div class="input-group">
    <label for="productName">Product name</label>
    <input type="text" class="form-control" id="productName">
</div>
<div class="input-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description">
</div>
<div class="input-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand">
</div>
<div class="input-group">
    <label for="quantity">Quantity</label>
    <input type="text" class="form-control" id="quantity">
</div>

<div>
    <img src="http://www.w3schools.com/html/pic_mountain.jpg" style="width:304px;height:228px;" />
</div>
