#content {
    background-color: ghostwhite;
}

.form-control {
    border: black;
}

.languageIcon {
    width: 25px;
    height: 25px;
}

.field-validation-error,
.brand-validation-error {
    color: red;
}

ul.dropdown-menu::after {
    display: none;
}

ul.dropdown-menu::before {
    display: none;
}
