#content {
    background-color: ghostwhite;
}

.form-control {
    border: black;
}

.languageIcon {
    width: 25px;
    height: 25px;
}

.field-validation-error,
.brand-validation-error {
    color: red;
}

ul.dropdown-menu::after {
    display: none;
}

ul.dropdown-menu::before {
    display: none;
}

.table-tr-line th,
.table-tr-line td {
    border: none !important;
}

.table-tr-line tr, 
.table-tr-line tbody {
    border-bottom: 1px solid #cccccc;
}

.nav.nav-tabs.nav-stacked.main-menu i{
    padding-right: 4px;
}


