.field-validation-error {
    color: red;
}

.filters-container {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1090px;
}

.filter-param-select {
    max-width: 20px;
    padding: 7px;
}

.filter-option-input-div {
    padding-right: 2px;
}
