@using R = Resources.LocalResource
@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="halflings-icon white user"></i> @User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a>
                    <form id="logoutForm" method="post" style="margin: 0;" action=@Url.Action("LogOff", "Account") enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <p onclick="javascript:$('#logoutForm').submit()"><i class="halflings-icon off"></i>@R.LogOff</p>
                    </form>
                </a>
            </li>
        </ul>
    </li>
}

