
@{
   // ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="ProductId" />
    <p>Product name</p>
    <input type="text" name="Name" />
    <p>Description</p>
    <input type="text" name="Description" />
    <p>Brand</p>
    <input type="number" name="BrandId" /> 
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Edit</a>
    <p>Color</p>
    <input type="text" name="Color" />
    <select onselect="setColor" name="colorpicker">
        <option value="#7bd148">Green</option>
        <option value="#5484ed">Bold blue</option>
        <option value="#a4bdfc">Blue</option>
        <option value="#46d6db">Turquoise</option>
        <option value="#7ae7bf">Light green</option>
        <option value="#51b749">Bold green</option>
        <option value="#fbd75b">Yellow</option>
        <option value="#ffb878">Orange</option>
        <option value="#ff887c">Red</option>
        <option value="#dc2127">Bold red</option>
        <option value="#dbadff">Purple</option>
        <option value="#e1e1e1">Gray</option>
    </select>
    <p>Quantity</p>
    <input type="number" name="Quantity" />
    @if (ViewBag.ProductModel.Image == null)
    {
        @:None
    }
    else
    {
        <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { ViewBag.ProducModel.ProductID })" />
    }    
    <div>
        <img src="" />
        <input type="file" name="Image" id="Image"/>
    </div>
    <input type="submit" value="Create" />
</form>

  <div data-role="main" class="ui-content">
    <div data-role="popup" id="myPopup" class="ui-content" data-dismissible="false" style="max-width:400px;">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <p>I am an undismissible button (data-dismissible="false). The only way to close me is by clicking on the close button, which is positioned at the top right corner. You cannot close me by clicking outside of me.</p>
    </div>
 </div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="~/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script src="~/Scripts/ModalView/ModalView.js"></script>

    <link rel="stylesheet" href="~/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.css">
    
    <link rel="stylesheet" href="~/Scripts/ModalView/ModalView.css" />
    <script>
        $('select[name="colorpicker"]').simplecolorpicker();

        $('select[name="colorpicker"]').simplecolorpicker('destroy');
        $('select[name="colorpicker"]').simplecolorpicker({
            picker: true
        }).on('change', function () {
            document.getElementsByName("Color")[0].value = document.getElementsByName("colorpicker")[0].value;
        });
    </script>
