
@{
// ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="ProductId" />
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <h4 class="col-lg-2">Product name</h4>
                <input type="text" class="form-control col-lg-5" name="Name" />
            </div>
            <div class="row" style="padding-bottom:10px">
                <h4 class="col-lg-2">Description</h4>
                <textarea type="text" class="form-control col-lg-5 pad" name="Description" ></textarea>
            </div>
            <div class="row">
                <h4 class="col-lg-2">Brand</h4>
                <input type="number" class="form-control col-lg-3" name="BrandId" />
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#BrandModal">Edit</button>
            </div>
            <div class="row">
                <h4 class="col-lg-2">Color</h4>
                <input type="text" class="form-control col-lg-5" name="Color" />
                <select onselect="setColor" name="colorpicker">
                    <option value="#7bd148">Green</option>
                    <option value="#5484ed">Bold blue</option>
                    <option value="#a4bdfc">Blue</option>
                    <option value="#46d6db">Turquoise</option>
                    <option value="#7ae7bf">Light green</option>
                    <option value="#51b749">Bold green</option>
                    <option value="#fbd75b">Yellow</option>
                    <option value="#ffb878">Orange</option>
                    <option value="#ff887c">Red</option>
                    <option value="#dc2127">Bold red</option>
                    <option value="#dbadff">Purple</option>
                    <option value="#e1e1e1">Gray</option>
                </select>
            </div>
            <div class="row">
                <h4 class="col-lg-2">Quantity</h4>
                <input type="number" class="form-control col-lg-5" name="Quantity" />
            </div>
        </div>
        <div class="col-lg-4">
            @if (ViewBag.ProductModel.Image == null)
            {
                @:None
            }
            else
            {
                <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { ViewBag.ProducModel.ProductId })" />
            }
            <div>
                <input type="file" name="Image" id="Image" />
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Create" />
</form>

<div id="BrandModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Brands</h4>
            </div>
            <div class="modal-body">
                <p>ASDASDASDSDA</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="~/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script src="~/Scripts/ModalView/ModalView.js"></script>

    <link rel="stylesheet" href="~/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.css">

    <link rel="stylesheet" href="~/Scripts/ModalView/ModalView.css" />
    <script>
        $('select[name="colorpicker"]').simplecolorpicker();

        $('select[name="colorpicker"]').simplecolorpicker('destroy');
        $('select[name="colorpicker"]').simplecolorpicker({
            picker: true
        }).on('change', function () {
            document.getElementsByName("Color")[0].value = document.getElementsByName("colorpicker")[0].value;
        });
    </script>
