.modal-body-central {
    text-align: center;
    padding: 20px;
}

.modal-body div{
    display: inline-block;
}

.product-table-image {
    max-height: 80px;
    max-width: 80px;
    border: 6px solid white;
}

.pointer {
    cursor: pointer;
}

table {
    width: 100%;
    display:block;
}

thead {
    display: block; 
    width: 100%;
}

tbody {
    display: block;
    max-height: 450px;
    width: 100%;
    overflow: auto;
}

tbody th {
    font-style: italic;
}

tr {
    display: block;
    width: 100%
}

.tr-super-admin-users th{
     width: 18%;
}

.tr-admin-users th{
     width: 23%;
}

th {
    display: inline-block;
    text-overflow: ellipsis;
}

th div{
    max-width: 100%;
    text-overflow: ellipsis;
}
.filter-param-select {
    max-width: 20px;
    padding: 7px;
}

.filter-option-input-div {
    padding-right: 2px;
}


