.modal-body-central {
    text-align: center;
    padding: 20px;
}

.modal-body div {
    display: inline-block;
}
.tr-super-admin-users th, 
.tr-super-admin-users td {
    width: 18%;
}

.tr-admin-users th,
.tr-admin-users td {
    width: 23%;
}