.description-text-area {
    padding-bottom: 10px;
}

.save-btn-conteiner {
    text-align: left;
}

.image-box {
    max-width: 200px;
    max-height: 200px;
}

.btn-left-margin {
    margin-left: 10px;
    width: 40px;
}

.brand-validation-error {
    margin: 0;
}

.modal-body-central {
    text-align: center;
    padding: 20px;
}

.brand-edit-input {
    border: 3px;
    outline: none;
    max-width: none;
}

h4 label {
    display: inline-block
}

textarea {
    max-width: 100%;
}